/* custom styles can go here */

#chapter-foo p {
    text-transform: uppercase;
}

#subtitle {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
    width: 96%;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: Verdana;
}

#subtitle .is-final {
    color: #00a2ff;
}

span.hl1 {
    color: #e06c75;
}

span.hl2 {
    color: #00ff4d;
}


.reveal section img {
    border: 0px;
    background: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    letter-spacing: 2px;
}

.reveal p {
    margin: 0;
}

/* slides */

.reveal div.code {
    width: 40%;
    height: 200px;
    line-height: 200px;
    background-color: #292929;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: 2px 2px 4px 1px #c6c6c6;
    font-family: Menlo;
}

