/* custom styles can go here */

#chapter-foo p {
    text-transform: uppercase;
}

#subtitle {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
    width: 96%;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: Verdana;
}

#subtitle .is-final {
    color: #00a2ff;
}

span.green {
    color: #3cba54;
}

span.yellow {
    color: #f4c20d;
}

span.red {
    color: #db3236;
}

span.blue {
    color: #4885ed;
}

span.hl1 {
    color: #e06c75;
}

span.hl2 {
    color: #00ff4d;
}

.reveal section img {
    border: 0px;
    background: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    letter-spacing: 2px;
}

.reveal p {
    margin: 0;
}

/* slides */

.reveal div.code {
    margin-top: 30px;
    width: 40%;
    height: 240px;
    line-height: 240px;
    background-color: #323232;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    /*font-weight: bold;*/
    /*box-shadow: 2px 2px 4px 1px #e601ff;*/
    font-family: Menlo;
}

